<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800 mt-3">Categories</h1>
    <p class="mb-4">
    </p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Categories Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-hover  dataTable align-text-center" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>

                                <tr role="row" style="text-align:center;">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 150px;">Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 10px;">Return It</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 10px;">Permanent delete</th>
                            </thead>
                            <tfoot>
                                <tr style="text-align:center;">
                                    <th rowspan="1" colspan="1">Name</th>
                                    <th rowspan="1" colspan="1">Return It</th>
                                    <th rowspan="1" colspan="1">Permanent delete</th>
                            </tfoot>
                            <tbody style="text-align:center;">

                                @await Component.InvokeAsync("CategoryDeletedListVC")

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>



@section Script {

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var deleteLinks = document.querySelectorAll(".delete-category");

            deleteLinks.forEach(function (link) {
                link.addEventListener("click", function (e) {
                    e.preventDefault();

                    var categoryId = link.getAttribute("data-id");

                    fetch(`/Admin/Category/HardDelete/${categoryId}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                        .then(function (response) {
                            if (response.ok) {
                                link.closest("tr").remove();
                            } else {
                                console.error("Failed to delete category!");
                            }
                        })
                        .catch(function (error) {
                            console.error("Error:", error);
                            alert("An error occurred while deleting category!");
                        });
                });
            });
        });


        document.addEventListener("DOMContentLoaded", function () {
            var deleteLinks = document.querySelectorAll(".return-category");

            deleteLinks.forEach(function (link) {
                link.addEventListener("click", function (e) {
                    e.preventDefault();

                    var categoryId = link.getAttribute("data-id");

                    fetch(`/Admin/Category/ReturnIt/${categoryId}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                        .then(function (response) {
                            if (response.ok) {
                                link.closest("tr").remove();
                            } else {
                                console.error("Failed to delete category!");
                            }
                        })
                        .catch(function (error) {
                            console.error("Error:", error);
                            alert("An error occurred while deleting category!");
                        });
                });
            });
        });
    </script>


    <script src="~/admin/vendor/jquery/jquery.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/datatables-demo.js"></script>
}