@model ForgotPasswordVM

@await Html.PartialAsync("_MobileMenuPartialView")
<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active"><a asp-controller="Account" asp-action="Login">Login</a></li>
                    <li class="breadcrumb-item active">Forget Password</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="">
                    <form method="post" >
                        <div class="login-form">
                            <h4 class="login-title">Reset your Password</h4>
                            <p><span class="font-weight-bold">I am a returning customer</span></p>
                            <div class="row">
                                <div class="col-md-12 col-12 mb--15">
                                    <label for="email">Enter your email address here...</label>
                                    <input asp-for="Email" class="mb-0 form-control" type="email" id="email1"
                                           placeholder="Enter you email address here...">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                </div>
                                <div style="display:flex; justify-content:space-between">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-outlined">Send</button>
                                    </div>
                                    <div class="text-center">
                                        <div style="width:200px">
                                            <a class="small" asp-action="Register">Create an Account!</a>
                                        </div>
                                        <div style="width:200px">
                                            <a class="small" asp-action="Login">Already have an account? Login!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</main>




@section BrandSlider {
    @await Html.PartialAsync("_BrandSliderPartialView")
}