@model AccountLoginVM

@await Html.PartialAsync("_MobileMenuPartialView")
@await Html.PartialAsync("_BreadCrumbPartialView")

<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="">
                    <form method="post">
                        <div class="login-form">
                            <h4 class="login-title">Returning Customer</h4>
                            <p><span class="font-weight-bold">I am a returning customer</span></p>
                            <div class="row">
                                <div class="col-md-12 col-12 mb--15">
                                    <label for="email">Enter your email address here...</label>
                                    <input asp-for="UsernameOrEmail" class="mb-0 form-control"  id="email1"
                                           placeholder="Enter you email address here...">
                                           <span class="text-danger" asp-validation-for="UsernameOrEmail"></span>
                                </div>
                                <div class="col-12 mb--20">
                                    <label for="password">Password</label>
                                    <input asp-for="Password" class="mb-0 form-control" type="password" id="login-password" placeholder="Enter your password">
                                    <span class="text-danger" asp-validation-for="Password"></span>

                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                </div>

                                <div style="display:flex; justify-content:space-between">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-outlined">Login</button>
                                    </div>
                                    <div class="text-center">
                                        <div style="width:150px">
                                            <a class="small" asp-action="ForgotPassword">Forgot Password?</a>
                                        </div>
                                        <div style="width:150px">
                                            <a class="small" asp-action="Register">Create an Account!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</main>




@section BrandSlider {
    @await Html.PartialAsync("_BrandSliderPartialView")
}