@* @model List<BasketItemProductVM>

    
@foreach (var prod in Model)
{
    <div class=" single-cart-block ">
        <div class="cart-product">
            <a href="~/cilent/product-details.html" class="image" >
                <img style="width:100px;height:100px; object-fit:cover;" src="~/cilent/image/products/@(prod.Product.Images.FirstOrDefault(pi => !pi.IsDeleted && pi.IsHover)?.Url??"")" alt="">
            </a>
            <div class="content">
                <h3 class="title">
                    <a href="~/cilent/product-details.html">
                        @prod.Product.Name
                    </a>
                </h3>
                @if (prod.Product.DiscountPrice > 0 && prod.Product.DiscountPrice != null)
                {
                    <span class="price"><span class="qty" style="font-size:15px;">@prod.Count × </span>$@prod.Product.DiscountPrice</span>
                    <del class="price-old">$@prod.Product.Price</del>
                    @if (prod.Product.DiscountPrice > 0 && prod.Product.DiscountPrice != null && prod.Product.Price > 0)
                    {
                        <span class="price-discount">@Math.Round((decimal)(prod.Product.Price - prod.Product.DiscountPrice) / prod.Product.Price * 100)%</span>
                    }
                }
                else
                {
                    <span class="price"><span class="qty" style="font-size:15px;">@prod.Count × </span>$@prod.Product.Price</span>
                }
           
            </div>
        </div>
    </div>
}
 *@