@model List<Tag>


@foreach (Tag tag in Model)
{
    <tr class="even  align-items-center ">
        <td style="vertical-align: middle;" class="align-items-center ">@tag.Name</td>

        <td style="vertical-align: middle;" class="align-items-center">
            <a asp-area="Admin" asp-controller="tag" asp-action="Detail" asp-route-id="@tag.Id" class="btn btn-sm btn-primary">Detail</a>
        </td>
        <td style="vertical-align: middle;" class="align-items-center">
            <a asp-area="Admin" asp-controller="tag" asp-action="Update" asp-route-id="@tag.Id" class="btn btn-sm btn-warning">Edit</a>
        </td>
        <td style="vertical-align: middle;" class="align-items-center">
            <a href="#" class="btn btn-sm btn-danger delete-category" data-id="@tag.Id">Remove</a>
        </td>
    </tr>
}